@import url("../colors/colors.css");

* {
    outline: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    text-shadow: none;
    color: @foreground;
    background-color: transparent;
    background: transparent;
}

.control-center {
    background-color: alpha(@background, 0.74);
    box-shadow: 0 18px 60px rgba(0, 0, 0, 0.45);
    padding: 10px;
    border-radius: 28px;
    border: 1px solid alpha(@select, 0.55);
}

.control-center .notification-row .notification-background {
    border-radius: 18px;
    margin-top: 5px;
}

.notification {
    background-color: alpha(@background, 0.82);
}

.notification > *:last-child > * {
    margin: 5px;
}

.summary { font-size: 1.1rem; }
.time { font-size: 0.8rem; }
.body { font-size: 1rem; }

.notification-content {
    padding: 15px 10px 10px 20px;
}

.notification-action > button {
    padding: unset;
    margin: unset;
}

.notification-action > label {
    font-size: 1rem;
    font-weight: normal;
}

.notification.critical {
    background-color: alpha(#e64553, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}

.notification.low,
.notification.normal {
    background-color: alpha(@background, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.65);
}

.close-button {
    background-color: alpha(@gray, 0.8);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
}

.close-button:hover {
    background-color: alpha(@red, 0.8);
}

.notification-group-header,
.notification-group-icon {
    font-size: 0.9rem;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
    background-color: @gray;
}

.notification-group-collapse-button:hover {
    background-color: alpha(@blue, 0.8);
}

.notification-group-close-all-button:hover {
    background-color: alpha(@red, 0.8);
}

trough highlight {
    background: @blue;
}

scale trough {
    margin: 0 1rem;
    background-color: @gray;
    min-height: 8px;
    min-width: 70px;
}

slider {
    background-color: @foreground;
}

tooltip {
    background-color: @gray;
}

.widget-buttons-grid {
    font-size: 1rem;
    padding: 6px 8px 10px;
    margin: unset;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    background: @gray;
    box-shadow: 0 0 10px alpha(@background, 0.8);
    border-radius: 12px;
    min-width: 60px;
    min-height: 30px;
    padding: 6px;
    margin: 0 3px 0;
    transition: all .5s ease;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @select;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
    background: @blue;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
    background: alpha(@blue, 0.8);
}

@define-color mpris-album-art-overlay rgba(0, 0, 0, 0.55);
@define-color mpris-button-hover rgba(0, 0, 0, 0.5);

.widget-mpris .widget-mpris-player {
    padding: 16px;
    margin: 16px 20px;
    background-color: @mpris-album-art-overlay;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.widget-mpris .widget-mpris-player .widget-mpris-album-art {
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}

.widget-mpris .widget-mpris-player .widget-mpris-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 8px 8px 8px;
}

.widget-mpris .widget-mpris-player .widget-mpris-subtitle {
    font-size: 1rem;
}

.widget-mpris .widget-mpris-player > box > button:hover {
    background-color: @mpris-button-hover;
}

.widget-mpris > box > button:hover {
    background: alpha(@select, 0.6);
}

.widget-volume {
    padding: 8px 8px 4px 8px;
    margin: unset;
    font-size: 1.05rem;
}

.widget-volume > box > button {
    border: none;
}

.per-app-volume {
    padding: 4px 8px 8px 8px;
    margin: 0 8px 8px 8px;
}

.widget-backlight {
    padding: 0 0 4px 16px;
    margin: unset;
    font-size: 1.05rem;
}

.widget-slider-kbd_backlight {
    padding: 0 0 4px 16px;
    margin: unset;
    font-size: 1.05rem;
}

.widget-slider-kbd_backlight button,
.widget-slider-kbd_backlight scale trough,
.widget-slider-kbd_backlight slider {
    transition: all .25s ease;
}

.widget-slider-kbd_backlight scale trough {
    min-height: 8px;
    min-width: 70px;
    background-color: @gray;
}

.widget-slider-kbd_backlight trough highlight {
    background: @purple;
}

.widget-dnd {
    font-weight: bold;
    margin: unset;
    padding: 20px 15px 15px 15px;
}

.widget-dnd > switch {
    font-size: initial;
    border-radius: 100px;
    background: @yellow;
    border: none;
    box-shadow: none;
    padding: 3px;
}

.widget-dnd > switch:checked {
    background: @green;
}

.widget-dnd > switch slider {
    background: @background;
    border-radius: 12px;
    min-width: 18px;
    min-height: 18px;
}

.widget-title {
    margin: unset;
    font-weight: bold;
    padding: 10px 12px 12px;
}

.widget-title > label {
    font-size: 1.25rem;
}

.widget-title > button {
    text-shadow: none;
    background: #e64553;
    border: none;
    box-shadow: none;
    border-radius: 100px;
    padding: 0 6px;
    transition: all .7s ease;
}

.widget-title > button:hover {
    background: alpha(@red, 0.8);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
}
